p
  | V tomto cvičení si vyzkoušíme
  a(href="https://facebook.github.io/react/",target='blank') &nbsp;React
  | &nbsp;- knihovnu pto tvorbu UI.
  | Využijeme kalkulačku, kterou jsme oživili v cvičení na DOM, a převedeme ji do react komponent.

h4 Karma runner
ul
  li Toto cvičení vyžaduje ES6 mode
  li V jedné konzoli nechejte běžet nebo spusťte příkaz pro webserver s podporou #[strong es6]
    snippet.
      npm run es6
  li V druhém terminálu spusťte příkaz:
    snippet.
      npm run tests-react

h3 1 - Definice displeje

h4 1.1 - dokončete definici jsx kódu displeje
ul
  li Display je definovaný v #[em display.jsx] jako stateless komponenta, tedy funkce, která přijímá props a vrací jsx
  li.task ve funkci #[strong render] upravte jsx taky, aby
    ul
        li obsahovalo input typu number
        li input sloužil pouze ke čtení
        li hodnota inputu odpovádala hodnotě předané v props.value
  li nezapomeňte smazat původní komentář na místě inputu

hint
  ul
    li jsx vypadá velmi podobně jako html, jen atributy používají cammelCase, tedy např. readOnly
    li
      :escape
        javascriptovou hodnotu předáte v jsx ve složených uvozovkách např. <Item name={props.name} />

solution
  :highlight-js
    let Display = (props) => {
      return <div className="display">
        <input type="number"
               value={props.value}
               readOnly/>
      </div>

    };

tests(todo="1.1")

h4 1.2 - definujte propTypes komponenty display
ul
  li React umožňuje definovat typy a povinnost #[strong props]
  li pro display jsme připravili definici, která vyžaduje atribut value jako povinný, typu string, nebo number
  li.task přiřaďte definici typu komponentě #[strong Display] jako vlasnost #[strong propTypes]

hint.
  proptypes přiřazujeme jako vlasnost funkce, nebo třídy, která vytváří komponentu, např Calculator.propTypes = {...definice...}

solution
  :highlight-js
    Display.propTypes = {
      value: React.PropTypes.oneOfType([
        React.PropTypes.string,
        React.PropTypes.number
      ]).isRequired
    };

tests(todo="1.2")

h4 1.3 - použití komponenty Display
ul
  li Podíváme-li se do konzole prohlížeče s kalkulačkou, uvidíme chybu
    p.alert.alert-warning
      Warning: Failed propType: Required prop `value` was not specified in `Display`. Check the render method of `Calculator`.
  li tedy, že použití komponenty #[strong Display] v metodě render komponety #[strong Calculator] nesplňuje definici propsTypes (není předáván povinný atribut value).
  li React komponentu vykreslí, ale (v devel režimu) nás o této situaci informuje
  li.task upravte použití komponenty #[strong Display] v souboru calculator.jsx tak, aby jako #[strong value] dostávala hodnotu #[strong displayValue] ze stavu komponenty #[strong Calculator]
  li po přiřazení hodnoty do value chyba v konzoli zmizí, display zobrazuje hodnotu 0

hint.
  stavové komponenty drží stav ve vlastnosti #[strong this.state], budeme tedy jako atribtu value předávat #[strong this.state.displayValue]

solution
  :highlight-js
    render() {
      return <div className="calculator">
        <Display value={this.state.displayValue}/>
        <Buttons
            onOperandChange={this.setOperand.bind(this)}
            onOperation={this.processOperation.bind(this)}/>
      </div>
    }

h3 2 - stav komponenty #[strong Calculator]
p.
  Pokud si nyní pečlivě prohlédneme definici metody render komponenty #[strong Calculator], vidíme, že renderuje dvě komponenty.
  #[strong Display], který zobrazuje hodnotu a #[strong Buttons], která má na startosti obsluhu tlačítek.
  Komponenta #[strong Buttons] dostává jako atributy funkce (callbacky), které volá pokud dojde ke změně operandu (čísla pro operaci), nebo k operaci (kliknutí na jiní tlačítko než číslo).
  Jejich obsluhou se budeme zabývat v tomto bodě.

snippet
  :highlight-js
    class Calculator extends React.Component {
      ...

      render() {
        return <div className="calculator">
          <Display ... />
          <Buttons
              onOperandChange={this.setOperand.bind(this)}
              onOperation={this.processOperation.bind(this)}/>
        </div>
      }
h4 2.1 - změna stavu při volání setOperand

p.
  Klikámě-li na tlačítka čísel kalkulačky, nic se neděje. Víme, že dochází k volání metody #[strong setOperand].
  Zaměřme se tedy na její obsah.

ul
  li metoda #[strong setOperand] komponety #[strong Calculator] dostává jako parametr operand, tedy číslo, které by mělo svíti na displeji a být použito pro následující operaci.
  li Aby se hodnota projevila na displeji, musíme jí zapsat do stavu komponenty jako #[strong displayValue].
  li Stav v React komponentách nikdy neupravujeme přímo, k jeho změně slouží metoda #[strong setState], která dostává objekt s vlastnostmi, které se změnily.
  li.task upravte objekt #[strong stateChange] v metodě #[strong setOperand] tak, aby operand zapisoval do stavu také jako #[strong displayValue]
  li po této upravě se klikání na čísla projeví na displeji

solution
  :highlight-js
    setOperand(operand) {
      this.setState({
        operand,
        displayValue: operand
      });
    }

tests(todo="2.1")

h4 2.2 - obnovení výchozího stavu (tlačítko C)

p.
  pro zpracování operací slouží metoda #[strong processOperation], v ní se nyní zaměříme na opearaci 'clear'

ul
  li Při kliknutí na tlačítko C by mělo dojít k obnovení původního stavu
  li Iniciální stav máme uložený jako #[strong Calculator.initialState]
  li Ani při změně celého stavu nezapisujeme do this.state přímo, ale opět použijeme metodu #[strong setState]
  li.task při opeaci 'clear' nastavte do stavu iniciální hodnotu

solution
  :highlight-js
    processOperation(type) {
        switch (type) {
          case "clear":
            this.setState(Calculator.initialState);
            break;

          case "equals":
            ...

tests(todo="2.2")

tests-results

p.
  Pokud jste úspěšně došli až sem, všechny testy by měli procházet a kalkulátor by měl fungovat.
