p.
  ES6 už jste si mohli vyzkoušet v některých cvičeních. Proto toto cvičení nemá pevné zadání.
  Můžete se zvolit, kterou z vlasností ES6 si chcete vyzkoušet.
br
| Využijeme
a(href="http://es6katas.org/")  es6katas.org

h4.bigger-distance Doporučujeme vyzkoušet alespoň jedno cvičení z každé tématické skupiny:

h3 1. Class a extend
ul
  li
    a(href="http://tddbin.com/#?kata=es6/language/class/creation",target="blank") class/creation
  li
    a(href="http://tddbin.com/#?kata=es6/language/class/extends",target="blank") class/extends
  li
    a(href="http://tddbin.com/#?kata=es6/language/class/super-in-constructor",target="blank") class/super-in-constructor

h3 2. Arrow functions
ul
  li
    a(href="http://tddbin.com/#?kata=es6/language/arrow-functions/basics",target="blank") arrow-functions/basics

h3 3. Set a Map
ul
  li
    a(href="http://tddbin.com/#?kata=es6/language/set/basics",target="blank") set/basics
  li
    a(href="http://tddbin.com/#?kata=es6/language/map/basics",target="blank") map/basics

h3 4. Destrukce
ul
  li
    a(href="http://tddbin.com/#?kata=es6/language/destructuring/array",target="blank") destructuring/array
  li
    a(href="http://tddbin.com/#?kata=es6/language/destructuring/object",target="blank") destructuring/object

h3 5. Let
ul
  li
    a(href="http://tddbin.com/#?kata=es6/language/block-scoping/let",target="blank") block-scoping/let

h3 6. Generátory a iterátory
ul
  li
    a(href="http://tddbin.com/#?kata=es6/language/generator/creation",target="blank") generator/creation
  li
    a(href="http://tddbin.com/#?kata=es6/language/generator/iterator",target="blank") generator/iterator
  li
    a(href="http://tddbin.com/#?kata=es6/language/generator/yield",target="blank") generator/yield

h4.bigger-distance Případně si vyberte libovolná další cvičení z
  a(href="http://es6katas.org/")  es6katas.org

