p.
  V tomto cvičení se podíváme na zpracování asynchronních událostí a také na způsob jak se dají testovat.
  Příklad budeme opět psát proti testům a zobrazovat je v jasmine přímo v prohlížeči.

p.
  Vašim úkolem bude dokončit a otestovat implementaci časovače, který bude možné používat následujícím způsobem

snippet
  :highlight-js
    var countdown = new Countdown(10);  // vytvoření instance odpočtu, bude odpočítávat od 10

    // odpočet spustíme voláním start, jako parametry můžeme předat callbacky
    //   updateTime - je volán každou vteřinu s aktuální hodnotou časovače
    //   finalCallback - je volán po dokončení odpočtu s hodnotou od které se odpočítávalo

    countdown.start(updateTime, finalCallback);

    coundown.stop();  // odpočítávání můžeme kdykoli ukončit

ul
  li Prohlédněte si kód objektu #[strong Countdown] v #[em index.js]. Jedná se o objekt provádějící odpočet.
  li Testy najdete v souboru #[em tests.js].
  li Protože se jedná o testy, které čekají na vyhodnocení, jsou potlačeny pomocí volání funkce #[strong pending()].
  li Volání #[strong pending()] odstraňte až když se dostanete k práci na příslušném testu.

h3 1 - Implementace odpočtu.
ul
  li Prohlédněte si metodu #[strong doTick] v #[em index.js], provádí postupný odpočet, volá #[strong updateCallback] a po dokončení #[strong finalCallback]
  li Tyto funkce se zadávají jako parametry metody #[strong start]
  li V první fázi napíšeme test pro volání funkce #[strong updateCallback], a poté funkcionalitu implementujeme

h4 1.1 - Test pro odpočet

ul.task
  li Odstraňte v testu #[strong update volá po vteřině] volání #[strong pending()].
  li Testujte v těle funkce #[strong updateCallback] předanou hodnotu - měla by být o 1 nižší než původní hodnota.
  li.
    Nezapomeňte, že pokud testujeme asynchronní operace, musíme to dát jasmine najevo a také říct kdy operace skončila.
    Když to neuděláme, uvidíme před názvem testu #[strong SPEC HAS NO EXPECTATIONS]

hint  Do testu musíte přidat callback #[strong done] jako parametr a ten po vyhodnocení asynchronní operace také zavolat.

ul
  li Tím získáme padající test, pokud se podíváte na detail testu, uvidíte chybu #[strong Timeout - Async callback was not invoked]
  li Můžeme tedy přejít k implementaci

solution
  :highlight-js
    it('update volá po vteřině (TODO 1.1)', function(done) {
      var countdown = new Countdown(1);

      var updateCallback = function (value) {
        expect(value).toBe(0);
        done();
      };

      countdown.start(updateCallback);
    });

h4 1.2 - Implementace odpočtu
ul
  li Test nám nyní říká, že callback pro dokončení nebyl volán, důvodem je, že metoda #[strong doTick] není vůbec volána.
  li.task V metodě start v index.js je nutno nastavit interval opakovaného volání metody #[strong doTick] po jedné vteřině.
  li.task Uložte si identifikátor intervalu do atributu #[strong intervalID] pro další pracování

hint Signatura nastavení intervalu je #[strong setInterval(callback, delay-v-ms)]. Nezapomeňte na použití #[strong bind] kvůli kontextu.
solution
  :highlight-js
    this.intervalID = setInterval(this.doTick.bind(this), 1000);

h4 1.3 - finalCallback a zrychlení testů
ul
  li Nyní chceme zkontrolovat volání funkce finalCallback po dokončení odpočtu
  li.task Odstraňte pending() v příslušném testu a prohledněte si co dělá
ul
  li Test sice prochází ale je neúnosně pomalý. Čeká totiž na dokončení časování.
  li Jasmine toto umí urychlit. Před každým testem instalujte a po každém testu odinstalujte modul #[strong clock]
ul.task
  li Do tohoto testu umístěte poskočení kroku o 4000 ms - za konec odpočtu.
  li Zrychlit můžete i předchozí test - poskočením o 1001 ms.

hint Pro instalaci se používá #[strong jasmine.clock().install()]. Pro posunutí času. #[strong jasmine.clock().tick(delay);]

solution
  :highlight-js
    beforeEach(function() {
      jasmine.clock().install();
    });

    afterEach(function() {
      jasmine.clock().uninstall();
    });

    ...
    jasmine.clock().tick(4000);

h4 1.4 - finalCallback nemá být volán po zastavení odpočtu metodou stop
ul
  li.task Odstraňte z testu pending()

ul
  li Test by měl ověřit, že callback nebyl volán.
  li Momentálně zdánlivě prochází, ale nereaguje na situaci, kdy byl callback #[strong finalCallback] volán po zastavení.

ul
  li.task V předaném final callbacku tedy vyvolejte selhání testu.

hint Callback #[strong done] má na sobě metodu #[strong fail(message)]

solution
  :highlight-js
    countdown.start(null, function() {
      done.fail("final callback byl zavolán i když byl odpočet zastaven");
    });

ul
  li Tím jsme získaly padající test, a můžeme se pustit do implementace metody stop

h4 1.5 - Zastavte časovač
ul
  li Test nám nyní hlásí, že byl final zavolán i po konci časování.
  li.task Podívejte se do metody #[strong stop] a zjistíte, že se zde nic neděje.
  li.task Ukončete tedy interval spouštějící metodu #[strong doTick] podle uloženého id
  li.task Vynulujte atributy #[strong intervalID], #[strong updateCallback]

hint Pro ukončení intervalu použijte #[strong clearInterval(id-intervalu)]

solution
  :highlight-js
    Countdown.prototype.stop = function() {
      clearInterval(this.intervalID);
      this.intervalID = null;
      this.updateCallback = null;
    };

h3 2 - Vyzkoušejte časovač v UI
ul
  li Když prochází testy, můžeme vyzkoušet časovač na UI v #[em index.html]
  li Je zde připravená instance časovače i funkce pro vykreslení #[strong updateTime]
  li.task Zavolejte tedy metodu #[strong start] s touto funkcí. Časovač se Vám zobrazí nad testy.

solution
  :highlight-js
    countdown.start(updateTime);