p.
  V tomto příkladu budeme implementovat grafickou kalkulačku a podíváme se více do prohlížeče, kde budeme pracovat s DOMem.
  Přesto se budeme snažit, aby aplikace zůstala stále dobře strukturovaná a testovatelná.

ul
  li Budeme podstatnou část psát opět proti testům a až po jejich splnění se podíváme na UI.
  li Zkusíme si také jeden z testů vytvořit.

h4 Karma runner
ul
  li V jedné konzoli nechejte běžet #[strong npm start] - webserver s cvičeními
  li V druhé spusťte příkaz:

snippet.
  npm run tests-dom

h3 1 - Oživení displaye

h4 1.1 - Přidejte Display do modulu aplikace
ul
  li První test nám říká, že #[strong Display] není definován v #[strong App]
  li.task Inicializujte v #[em display.js] namespace #[strong App], tak aby mohly být scripty přidány v různém pořadí.
  li.task Vystavte kontsturkční funkci jako #[strong App.Display]

solution
  :highlight-js
    var App = App || {};
    App.Display = (function () {
      var Display = function (displayElement) {
        ...
      };
      return Display;
    })();

tests(todo="1.1")

h4 1.2 - Vytvořte mock
ul
  li V druhém testu budeme chtít testovat chování elementu.
  li Na fiktivním elementu chceme ověřit, že byla nastavena iniciální hodnota.
  li.task Vytvořte tedy v #[strong beforeEach] v #[em display.spec.js] mock elementu, který bude mít metodu #[strong setAttribute] a přiřaďte jej do #[strong this.element]

hint Použijte metodu #[strong jasmine.createSpyObj("název", [metody])]

solution
  :highlight-js
    beforeEach(function() {
      this.element = jasmine.createSpyObj("element", ['setAttribute']);
    })

h4 1.3 - Předejte mock do Displaye
ul
  li Nyní vytvořte v testu #[strong renderuje data do elementu] novou instanci #[strong Displaye] a předejte mu vytvořený mock v parametru

solution
  :highlight-js
    var display = new App.Display(this.element);

h4 1.4 - Nastavte hodnotu displaye
ul
  li Test kontroluje volání metody na elementu při vytvoření instance displaye. Můžeme tedy začít s implementací.
  li.task Uvnitř metody #[strong render_] v #[em display.js] nastavte elementu jeho atribut #[strong value] na #[strong this.value_]

hint
  | Pro nastavení atributu se používá metoda&nbsp;
  strong setAttribute("key", "value")

solution
  :highlight-js
    this.element_.setAttribute("value", this.value_);

tests(todo="1.4")

h4 1.5 - Použijte display ve view
ul
  li Nyní jste pomocí TDD oživili objekt #[strong Display]
  li.task V #[em index.html] jej instancujte a předejte mu skutečný element
  li.task Prohlédněte si html, půjde nám o předání elementu s id= #[strong display]

hint Element můžete získat pomocí #[strong document.querySelector("#id-elementu")]
solution
  :highlight-js
    var displayElement = document.querySelector("#display");
    var display = new App.Display(displayElement);

ul
  li Přidaný #[strong Display] se na UI projevil tak, že se v jeho poli objevila #[strong 0]

h3 2 - Reakce na kliknutí na tlačítko
h4 2.1 - Reagujte na kliknutí

ul
  li Nyní budeme v souboru #[em buttonControls.js] oživovat tlačítka.
  li První co potřebujeme udělat je poslouchat události kliknutí, můžeme poslouchat na elementu celé klávesnice, kterou reprezentuje parametr konstrukční funkce #[strong buttonElement]
  li.task Poslouchejte tedy na #[strong buttonElement], událost kliknutí a zavolejte metodu #[strong processButton]

hint Pro sledování události se používá metoda&nbsp;
  strong addEventListener("událost", "metoda").
  br
  | Nezapomeňte, že musíte předat metodě kontext pomocí #[strong bind].

solution
  :highlight-js
    buttonsElement.addEventListener("click", this.processButton.bind(this));

tests(todo="2.1")

h3 3 - Implementujte reakci na tlačítka
ul
  li Reakci na kliknutí na tlačítko budeme implementovat právě v metodě #[strong processButton] v #[em buttonControls.js]

h4 3.1 - Reakce na výběr čísla
ul.task
  li Získejte z události objekt který ji vyvolal - tím může být právě tlačítko
  li Získejte z tlačítka #[strong atribut] #[strong value] a s ním zavolejte metodu #[strong processNumber_]

hint Původce události najdete ve vlastnosti #[strong event.target]. Atribut získáte pomocí #[strong getAttribute(key)].
solution
  :highlight-js
    var button = event.target;

    var value = button.getAttribute("value");
    this.processNumber_(value);

tests(todo="3.1")

h4 3.2 - Reakce na výběr operace
ul
  li Mimo čísel může uživatel stisknout tlačítko akce, to se pozná podle jeho css třídy #[strong operation]. Název operace je poté uložen ve vlastnosti #[strong name].
  li.task V případě že má tlačítko třídu #[strong operation] získejte jeho vlastnost name a zavolejte s ním metodu #[strong processOperation_]
  li.task V opačném případě kliknutí zpracovávejte nadále jako číslo

hint Seznam tříd elementu je uložen ve vlastnosti #[strong classList], můžete na něm volat metodu #[strong contains(trida)].
  br
  | Vlastností name není myšlen atribut, ale opravdu vlastnost objektu - #[strong element.name]
solution
  :highlight-js
    if (button.classList.contains("operation")) {
      this.processOperation_(button.name);
    } else {
      var value = button.getAttribute("value");
      this.processNumber_(value);
    }

tests(todo="3.2")

h4 3.3 - ProcessButton by měl brát v potaz pouze kliknutí na tlačítko
ul
  li Metoda processButton by měla ignorovat kliknutí na jiný element než tlačítko
  li.task Kontrolujte že #[strong type], je opravdu pouze #[strong button]

solution
  :highlight-js
    if (button.type !== "button") {
      return;
    }

tests(todo="3.3")

h3 4 - Použijte ButtonControls ve view
ul
  li Poslední částí je přidat ovladač tlačítek do view v #[em index.html]
  li.task Získejte element s id #[strong buttons].
  li.task Podívejte se na konstruktor #[strong ButtonControls], jaké požaduje parametry.
  li.task Vytvořte novou instanci #[strong App.ButtonControlls], které předejte potřebné objekty

solution
  :highlight-js
    var buttonsElement = document.querySelector("#buttons");
    var controls = new App.ButtonControls(buttonsElement, calculator, display);

h3 5 - Vyzkoušejte UI
ul.task
  li V tuto chvíli si můžete celou kalkulačku vyzkoušet na UI.
  li Podívejte se na zbylé části kódu a prohlédněte si také implementaci testů

tests-results