p.
  V předchozím cvičením jsme viděli kalkulačku, do které můžeme přidat akce a zpětně je volat,
  nijak ale nebylo řešeno ošetření chyb.
  Nyní tedy použijeme výjimky k ošetření těchto stavů. Opět máte připravené testy, které spouští v prohlížeči.

h3 1 - Ošetření neplatné operace

h4 1.1 - Vytvořte test očekávající vyhození TypeError
ul
  li Při přidání neplatné operace by měla být vyhozena výjimka TypeError
  li Před samotnou implementací dokončeme rozpracovaný test v #[em tests.js], kde je naznačeno přidání neplatné akce
  li Test vypadá, že prochází, zároveň ale jasmine hlásí "SPEC HAS NO EXPECTATIONS", to znamená, že se nic netestuje.
  li.task Otestujte tedy, že vložení neplatné akce způsobí výjimku #[strong TypeError]
ul
  li Vytvořený test nebude zatím procházet

hint Pro otestování výjimky můžete použít #[strong expect(...).toThrowError(typeOfException)]
  br
  | Nezapomeňmte, že kód, kde je očekávána výjimka musíte obalit anonymní funkcí, jinak by došlo ihned k volání.

solution
  :highlight-js
    expect(
      function () {
        calculator.addOperation({});
      }
    ).toThrowError(TypeError);

h4 1.2 - Ošetření přidání neplatné operace
ul
  li Nyní když připraven test, který padá, můžeme se pustit do implementace v #[em calculator.js]
  li.task V případě, že přidávaná operace není potomkem #[strong Operation], vyhoďte výjimku #[strong TypeError].

hint Použijte operátor #[strong instanceof], nezapomeňte na správné závorkování.

solution
  :highlight-js
    this.addOperation = function (operation) {
      if(!(operation instanceof Operation)){
        throw new TypeError("operation must be instance of Operation");
      }
      this.operations[operation.name] = operation;
    }

h3 2 - Vytvořte výjimku UnknownOperationError
ul
  li Vytvořte konstrukční funkci #[strong UnknownOperationError] akceptující parametr #[strong message]
  li Přiřaďte správné hodnoty #[strong name], #[strong message] a #[strong stack]
  li Zděďte #[strong Error] a nezapomeňte opravit konstruktor

hint Stack získáte z #[strong (new Error()).stack]

solution
  :highlight-js
    var UnknownOperationError = function(message) {
      this.name = 'UnknownOperationError';
      this.message = message || 'Unknown operation';
      this.stack = (new Error()).stack;
    }
    UnknownOperationError.prototype = Object.create(Error.prototype);
    UnknownOperationError.prototype.constructor = UnknownOperationError;

h3 3 - Ošetření neznámé operace
ul.task
  li Vyhoďte výjimku v případě že volána operace není obsažená v objektu operations
  li Předejte jí ve zprávě název operace

hint Pro kontrolu zda je operace přítomna můžete využít implicitní konverzi na boolean. Stačí použít #[strong if(objekt[nazev])] ...

solution
  :highlight-js
    this.calculate = function (name, a, b) {
      if (!this.operations[name]) {
        throw new UnknownOperationError('Unknown operation: ' + name);
      }

      return this.operations[name].calculate(a, b);
    }