p.
  V předchozích cvičeních jste se setkali s object literalem. V tomto cvičení se podíváme na vytváření objektů pomocí konstrukční funkce a na dědičnost.
  Názvy testů zde již nepopisují to co máte udělat, ale kontrolují průběžně Vaši práci, tak jak to bývá v praxi.

h3 1 - Generátor
p.
  Takto vypadá generátor z předchozího příkladu.

snippet
  :highlight-js
    var generatorFactory = function(initialNumber) {
      initialNumber = initialNumber || 0;
          return function generator() {
        return initialNumber++;
      }
    };

ul
  li V této části jej proměníme v objekt, který můžeme vytvořit pomocí operátoru #[strong new] a použít následujícím způsobem.

snippet
  :highlight-js
    var generator = new Generator(42);

    generator.increase() // 42
    generator.increase() // 43
    generator.increase() // 44

ul
  li tento úkol zpracovávejte v souboru #[em generator-oop.js]

h4 1.1 - Vytvořte konstrukční funkci
ul.task
  li Vytvořte konstrukční funkci pojmenovanou #[strong Generator] s jedním parametrem jehož defaultní hodnota je #[strong 0].
  li Přiřaďte initialNumber zatím pouze do proměnné
  li Z původní vracené funkce generator nyní udělejte metodu #[strong increase]

hint Metodu vytvoříte přiřazením na funkce na #[strong this]

solution
  :highlight-js
    function Generator(initialNumber) {
      var initialNumber = initialNumber || 0;

      this.increase = function() {
        return initialNumber++;
      }
    }

h4 1.2 - Použijte prototype
ul.task
  li Generátor již splňuje všechny požadavky, ale každá instance s sebou nese i metodu #[strong increase]
  li Přesuňte tedy tuto metodu do jeho prototypu.

hint K prototypu můžete přistupovat přes název konstrukční funkce a její vlastnost #[strong prototype].

ul
  li Pokud jste nechali #[strong initialNumber] jako proměnnou, tak Vám tato úprava rozbije testy
  li.task Zamyslete se nad tím proč, opravíme je v dalším kroku.

h4 1.3 - Opravte přístup k attributům
ul
  li Testy přestali procházet, protože metoda #[strong increase] nevidí proměnnou #[strong initialNumber]
  li.task Udělejte z proměnné #[strong initialNumber] vlastnost objektu

hint Uložte #[strong initialNumber] na #[strong this]

solution
  :highlight-js
    function Generator(initialNumber) {
      this.initialNumber = initialNumber || 0;
    }

    Generator.prototype.increase  = function() {
      return this.initialNumber++;
    }

h4 1.4 - Instancujte Generátor

ul.task
  li Instancujte Generátor pomocí jeho konstrukční funkce do proměnné #[strong generatorFrom10] a nastavte #[strong 10] jako počátek generování
  li Do proměnné #[strong firstGenerated] přiřaďte hodnotu vrácenou metodou #[strong increase]


solution
  :highlight-js
    var generatorFrom10 = new Generator(10);
    var firstGenerated = generatorFrom10.increase();

h3 2. Test operace sčítání
ul
  li V této části se opět vrátíme ke kalkulačce a podíváme se jak je možné použít objekty zde.
  li Cvičení se bude odehrávat v souboru #[em calculator.js]
  li Připravili jsme pro Vás operaci #[strong Add], která sčítá dvě čísla, na ní si vyzkoušíme tvorbu testů a dědičnost.

h4 2.1 - vytvořte test "počítá součet"
ul.task
  li Podívejte se, jak je operace #[strong Add] implementována a jak je napsán test pro kontrolu názvu v #[em calculator.spec.js]
  li Napište test s názvem #[strong počítá součet], který zavolá funkci #[strong calculate], předá dvě čísla a očekává jejich součet

ul
  li Tento test by Vám měl ihned procházet

solution
  :highlight-js
    it('počítá součet', function () {
      var add = new Add();
      expect(add.calculate(1, 2)).toBe(3);
    });

h4 2.2 - vytvořte test "ošetřuje vstupy"
ul
  li Operace #[strong Add] nemá ošetřené vstupy proti zadání řetězce, dojde přitom k řetězení.
  li.task Než se pustíme do implementace, napište test pojmenovaný #[strong ošetřuje vstupy]
  li.task Bude vypadat stejně jako předchozí, jen do operace posílejte místo čísel řetězce - #[strong "1"]
  li Tento test Vám nebude procházet, protože ošetření není zatím implementováno

solution
  :highlight-js
    it('ošetřuje vstupy', function () {
      var add = new Add();
      expect(add.calculate("1", 2)).toBe(3);
    });

h3 3. Rozšíření operací
h4 3.1 - Ošetření vstupů operace Add

p Protože máme připravený test pro kontrolu ošetření vstupů, můžeme se pustit do implementace

ul.task
  li Přejmenujte současnou metodu operace #[strong calculate] na #[strong calculateInternal_]
  li Vytvořte novou metodu #[strong calculate], která interní metodu provolává a zároveň převádí vstupy na #[strong float]

hint Převod na #[strong float] můžete provést pomocí #[strong parseFloat(a)]

solution
  :highlight-js
    Add.prototype.calculate = function (a, b) {
      return this.calculateInternal_(parseFloat(a), parseFloat(b));
    }
    Add.prototype.calculateInternal_ = function (a, b) {
      return a + b;
    }

h4 3.2 - Vytvořte operaci odčítání
ul.task
  li Nyní zkopírujte implementaci operace #[strong Add]
  li upravte metodu #[strong calculateInternal_] na odčítání
  li přejmenujte objekt na #[strong Sub]
  li změňte její název na #[strong sub]

solution
  :highlight-js
    function Sub(){
      this.name = "sub";
    }
    Sub.prototype.calculate = function (a, b) {
      return this.calculateInternal_(parseFloat(a), parseFloat(b));
    }
    Sub.prototype.calculateInternal_ = function (a, b) {
      return a - b;
    }

h4 3.3 - Přidejte akci odčítání
ul
  li Připravený kalkulátor #[strong calculator] umožňuje přidat akce a poté je podle názvu volat, sčítání už je přidáno, zbývá odčítání
  li.task Přidejte instanci akce odčítání do existujícího kalkulátoru

solution
  :highlight-js
    calculator.addOperation(new Sub());

h4 3.4 - Použijte dědičnost
ul
  li.task Všiměte si duplicity v akcích #[strong Add] a #[strong Sub]
  li Obě akce mají stejnou metodu #[strong calculate], tu můžeme přesunout do předka

ul.task
  li Z #[strong Add] a #[strong Sub] udělejte potomky #[strong Operation]
  li Přesuňte akci #[strong calculate] do existujícího objektu #[strong Operation], samotné akce tak budou nyní mít jen #[strong calculateInternal_]

hint Prototypová dědičnost se tvoří pomocí přiřazení #[strong Object.create(rodičovský-prototyp)] do prototypu potomka. Nezapomeňte taky na aktualizaci #[strong prototype.constructor].

solution
  :highlight-js
    Add.prototype = Object.create(Operation.prototype);
    Add.prototype.constructor = Add;

    Add.prototype.calculateInternal_ = function (a, b) {
      return a + b;
    }

    ...

    Operation.prototype.calculate = function (a, b) {
      return this.calculateInternal_(parseFloat(a), parseFloat(b));
    }

h4 3.5 - Zavolejte konstruktor rodiče
ul
  li V konstruktoru #[strong Add] a #[strong Sub] je nastavován název ručně. Můžeme ale využít toho, že #[strong Operation] jej umí přečíst z názvu konstrukční funkce.
  li.task Zavolejte tedy v konstruktorech #[strong Add] a #[strong Sub] místo přiřazení názvu konstruktor rodiče #[strong Operation]

hint Pro volání použijte metodu #[strong call] a předejte kontext potomka.

solution
  :highlight-js
    function Add(){
      Operation.call(this);
    }

    ...

    function Sub(){
      Operation.call(this);
    }