p.
  V tomto cvičení si můžete vyzkoušet TDD v javascriptu na vyšší úrovni.

ul
  li Místo assertů jsme pro Vás připravili testy v Jasmine.
  li Jednotlivé úkoly budete zpracovávat v #[em index.js] přímo uvnitř testů, abyste si na ně zvykli.
  li Testy se spouští přímo v prohlížeči, otevřete je opět zeleným tlačítkem.

ul.task
  li Váš kód piště přímo v těle testů v místě odpovídajícího komentáře #[strong TODO]
  li Nemodifikujte však kód pod oblastí vyznačenou #[strong "Nemodifikujte kód níže"] ani asserty testů

h3 1 - Objekt
h4 1.1 - Vytvořte objekt s vlastnostmi
ul
  li.task Vytvořte objekt, který bude mít vlastnost #[strong property] a #[strong property-with-dash]

solution
  :highlight-js
    var object = {
      property: 42,
      'property-with-dash': 50,
    };

h4 1.2 - Přiřaďte do objektu zanořený objekt
ul
  li.task Vytvořte objekt, který má vlastnost #[strong property] a přiřaďte jej do vlastnosti #[strong inner] již existujícího objektu

solution
  :highlight-js
    object.inner = {
      property: 42
    }

h3 2 - Array
h4 2.1 - Vytvořte pole se třemi prvky
ul
  li.task Inicializujte pole s prvky hodnot 1, 2, 3

solution
  :highlight-js
    var array = [1, 2, 3];

h4 2.2 - Přiřaďte velikost pole
ul
  li.task Přiřaďte hodnotu velikosti pole #[strong array] do proměnné #[strong numberOfItems]

solution
  :highlight-js
    var numberOfItems = array.length;

h3 3 - Datum
h4 3 - Vytvořte datum 28. března 1592
ul.task
 li Použijte konstrukční funkci s rokem, měsícem a dnem, nebo tvar ISO 8601

hint Pozor, měsíce se číslují od nuly.
  br
  | ISO 8601 má tvar #[strong yyyy-mm-ddT00:00:00Z]

solution
  :highlight-js
    var date = new Date("1592-03-28T00:00:00Z");

h3 4 - Regulární výraz
h4 4 - otestujte email pomocí regulárního výrazu emailPattern
ul
  li Máte definován výraz pro kontrolu emailu, vyhodnoťte zda email vyhovuje
  li.task hodnotu přiřaďte do "testResult"

hint Pro otestování výrazu se používá metoda #[strong test].

solution
  :highlight-js
    var testResult = emailPattern.test(email);

h3 5 - Kalkulačka

p V této části budeme implementovat operace jednoduché kalkulačky a potom factory pro získávání těchto akcí
  ul
    li Operace implementujte také rovnou v testu, v místě vyznačeném "#[strong Zde implementujte operace kalkulačky]"

h4 5.1. Implementujte operaci power
ul.task
  li Vytvořte funkci se dvěma parametry #[strong power(a,n)] počítající n tou mocninu.
  li Použijte existující funkci #[strong Math.pow(a,n)]

solution
  :highlight-js
    function power(a, n) {
      return Math.pow(a, n);
    }

h4 5.2. Přidejte defaultní parametr
ul
  li.task Upravte funkci #[strong power] tak, aby při použití s jedním parametrem vracela jeho druhou mocninu
  li.task Nejprve vyzkoušejte řešení za použití operátoru #[strong ||]

solution
  :highlight-js
    function power(a, n) {
      n = n || 2;
      return Math.pow(a, n);
    }

h4 5.2.1 Exponent může být i nulový
ul
  li Přestal procházet test kontrolující výsledek při volání s nulovým exponentem #[strong power(2, 0)]
  li je to způsobené tím, že #[strong 0] se implicitní konverzí převede na #[strong false]
  li.task Upravte řešení defaultního parametru tak, aby bylo možné zadat nulový exponent.

hint Defaultní parametr by měl být aplikován, pouze pokud je typ předaného exponentu #[strong undefined]

solution
  :highlight-js
    function power(a, n) {
      n = typeof n !== 'undefined' ? n : 2;
      return Math.pow(a, n);
    }

h4 5.3. Vytvořte factory pro získání operace
ul.task
  li Vytvořte funkci #[strong operationFactory(operation)], která bude vracet výpočetní operace dle zadaného parametru
  li přesuňte dovnitř funkci #[strong power] a vraťte ji pomocí return, pokud je zadaný parametr stejného jména

hint Můžete použít switch, nebo mít objekt s funkcemi a klíči odpovídajícími názvům operací.

solution
  :highlight-js
    function operationFactory(operation){
      function power(a, b) {
        return Math.pow(a, b);
      }

      switch (operation) {
        case "power": return power;
      }
    }

h4 5.4. Vytvořte ve factory operaci sum dvou čísel
ul.task
  li Přidejte do factory operaci #[strong sum], která sečte dva parametry.

solution
  :highlight-js
    function operationFactory(operation){
      function power(a, b) {
        b = b || 2;
        return Math.pow(a, b);
      }

      function sum(a, b) {
        return a + b;
      }

      switch (operation) {
        case "power": return power;
        case "sum" : return sum;
      }
    }

h4 5.5. Upravte operaci sum pro více argumentů
ul.task
  li Rozšiřte operaci #[strong sum] tak, aby dokázala sčítat jakýkoli počet argumentů

hint K argumentům se přistupuje přes proměnnou #[strong arguments]. Jedná se o array-like objekt.

solution
  :highlight-js
    function sum(a, b) {
      var sum = 0;

      for(var i = 0; i < arguments.length; i++) {
       sum += arguments[i];
      }

      return sum;
    }