h3 1 - Vytvoření promise

p.
  V této části si vyzkoušíte vytvoření vlastní promise, která bude reagovat na dokončení akce a na chybu tak jak by promise měla.

ul
  li Bude se jednat o promise, která počká zadaný interval a pak provolá předanou akci.
  li V případě, že tato vrátí hodnotu, promise bude #[strong resolved] a hodnota bude předána jako výsledek promise.
  li Pokud nic nevrátí bude promise #[strong rejected].

h4 Karma runner

p.
  Opět jsme pro Vás připravili testy, tentokrát se ale nepouští v prohlížeči, ale spustíte jej pomocí karma runneru.

ul
  li.task V jedné konzoli nechejte běžet #[strong npm start] - webserver s cvičeními
  li.task V druhé spusťte příkaz:

snippet.
  npm run tests-async

p.
  Testy reagují na změny a spouští se automaticky, můžete se tedy věnovat kódu a podívat se na stav testů vždy když je třeba.

h4 1.1 - Vraťte promise

p.
  Tento úkol budete zpracovávat v souboru #[em timeout-promise.js]

ul
  li Funkce reprezentující promise je již připravená, můžete si všimnout i exekutoru.
  li Funkce ale zatím nic nevrací.
  li.task Vraťte tedy novou Promise

hint Promise vytvoříte pomocí #[strong new Promise(executor)]

solution
  :highlight-js
    var TimeoutPromise = function(delay, conditionFunction) {
      var executor = function(resolve, reject) {};
      return new Promise(executor);
    };

tests(todo="1.1")

h4 1.2 - Vyhodnocení promise
ul
  li První co by promise měla dělat, přejít do stavu resolved a vrátit hodnotu.
  li Parametry #[strong resolve] a #[strong reject] jsou funkcemi.
  li.task Zavolejte tedy funkci #[strong conditionFunction()] a předejte výsledek funkci #[strong resolve()]

solution
  :highlight-js
    var executor = function(resolve, reject) {
      resolve(conditionFunction());
    };

tests(todo="1.2")

h4 1.3 - Zamítnutí promise
ul
  li Nyní už se promise vyhodnotí jako resolved s vrácenou hodnotou.
  li My bychom ale chtěli umět reagovat i na chybu, například pokud funkce vrátí neplatnou hodnotu.
  li.task Proveďte tedy #[strong resolve] jen pokud je vrácená hodnota převoditelná na #[strong true], v opačném případě volejte s vrácenou hodnotou #[strong reject]

solution
  :highlight-js
    var value = conditionFunction();
    if (value) {
      resolve(value);
    } else {
      reject(value);
    }

tests(todo="1.3")

h4 1.4 - Odložené volání
ul
  li Promise nevrací hodnotu ihned, jedná se o asynchronní volání
  li Nejjednodušší variantou může být odložené volání funkce
  li.task Obalte tedy předchozí vyhodnocení promise, odloženým voláním o délce #[strong delay] předané do funkce

hint Pro odložené volání použijte funkci #[strong setTimeout(volanaFunkce, delay);]

solution
  :highlight-js
    setTimeout(function() {
      var value = conditionFunction();
      if (value) {
        resolve(value);
      } else {
        reject(value);
      }
    }, delay);

tests-results

p.
  Pokud všechny testy procházejí, můžete zastavit process s testy (npm run tests-async) a pokračovat v prohlížeči

h3 2 - Nejlepších 10 filmů

p.
  Pro druhou část cvičení jsme pro Vás připravili malou aplikaci, která z REST API načítá seznam deseti nejlepších filmů.
ul
  li Pokud se na ni podíváte (Otevřete cvičení), uvidíte tři tlačítka, které zobrazí určitou množinu z načtených dat.
  li Ze serveru se ale pokaždé načtou data znovu. Vyzkoušíte si tedy jednoduchou formu cachování pomocí promise.
  li Pro tuto část nejsou připraveny testy, zkoušet ji tedy budete rovnou v prohlížeči.

h4 2.1 - Cachování výsledků

ul
  li.task Podívejte se do #[em movies.js], uvidíte zde #[strong MovieService], která má metodu #[strong getBestMovies(count)].

ul
  li Ta získává data z metody #[strong getMovies] která nám poslouží jako prostředník, kde můžeme požadavek cachovat.
  li Data se v ní načítají funkcí #[strong fetchMovies()], která vrací promise.

ul
  li.task Zavolejte tedy na vrácené promise metodu #[strong .then] a uložte získaná data do atributu movies.

hint Nezapomeňte vrátit z funkce hodnotu abyste neporušili řetězec promise. Také musíte použít #[strong bind] pro zachování #[strong this].

solution
  :highlight-js
    MovieService.prototype.getMovies = function () {
      return fetchMovies().then(function (movies) {
        this.movies = movies;
        return movies;
      }.bind(this));
    };

h4 2.2 - Vrácení hodnoty

ul
  li Nyní je potřeba ještě nacachovanou hodnotu vracet místo volání funkce #[strong fetchMovies()].
  li Volající metoda očekává promise
  li.task Zařiďte, aby se vrátila taky promise.

hint Z obyčejné proměnné můžete udělat promise pomocí #[strong Promise.resolve(hodnota)]

solution
  :highlight-js
    if(this.movies) {
      return Promise.resolve(this.movies);
    }

h4 2.3 - Cachování probíhající promise
ul
  li Nyní už se požadavek po dokončení cachuje. Ale pokud odešlete požadavky rychle za sebou, začnou se vykonávat.
  li To není žádoucí, také promise je možné cachovat.

ul.task
  li Přiřaďte tedy výsledek volání #[strong fetchMovies] do atributu #[strong moviesPromise] a ten poté vracejte.
  li Funkci #[strong fetchMovies] volejte jen pokud je #[strong moviesPromise] prázdný.

solution
  :highlight-js
    MovieService.prototype.getMovies = function () {
      if (this.movies) {
        return Promise.resolve(this.movies);
      }
      if (!this.moviesPromise) {
        this.moviesPromise = fetchMovies().then(function(result) {
          this.movies = result
          return result;
        }.bind(this));
      }

      return this.moviesPromise;
    };

h4 2.4 - Promise ve stavu resolved
ul
  li Nyní máme vlastně dvě úrovně cachování, promise, a výsledek.
  li Pokud bychom ale požadavek nepotřebovali nikdy opakovat, můžeme vystačit s cachováním promise
  li Pokud je promise ve stavu resolved, bude jeho metoda #[strong .then] navždy vracet získaný výsledek.
  li Odstraňte tedy cachování movies a také zápis do atributu movies.

solution
  :highlight-js
    MovieService.prototype.getMovies = function () {
      if(!this.moviesPromise) {
        this.moviesPromise = fetchMovies();
      }

      return this.moviesPromise;
    };

h4 2.5 - Ověření na UI
ul
  li Nyní můžete ověřit v UI, že se i po úpravách požadavek posílá jen jednou.
