p.
  V tomto cvičení se opět spouští testy přímo v prohlížeči. Oddělili jsme ale kód testů od produkčního kódu.

ul
  li Kód tedy budete psát v souborech #[em generator-base.js] a #[em generator-step.js]
  li Jednotlivé nadpisy odpovídají testům.
  li Pokud si budete chtít testy prohlédnout, najdete je v #[em tests.js]

h3 1 - Generátor číselné řady

p.
  Vaším úkolem v tomto cvičení bude vytvořit funkci #[strong generatorFactory], která vrací generátor číselné řady od zadaného čísla

ul
  li Zpracovávejte jej v #[em generator-base.js], použití vypadá následovně


snippet
  :highlight-js
    var generatorFromTen = generatorFactory(10);

    generatorFromTen()  // 10
    generatorFromTen()  // 11
    generatorFromTen()  // 12

h4 1.1 - generatorFactory přijímá jeden parametr, jeho defaultní hodnota je 0
ul
  li.task definujte parametr initialNumber s defaultní hodnotou 0

solution
  :highlight-js
    var generatorFactory = function(initialNumber) {
      initialNumber = initialNumber || 0;

    };

h4 1.2 - generatorFactory vrací jinou funkci - generator - ten pří volání vrací initialNumber
ul.task
  li jako návratovou hodnotu použijte novou funkci
  li pojmenujte ji jako #[strong generator]
  li návratová hodnota této funkce je #[strong initialNumber]

solution
  :highlight-js
    var generatorFactory = function(initialNumber) {
      initialNumber = initialNumber || 0;

      return function generator() {
        return initialNumber;
      }
    };

h4 1.3 - další volání generátoru vrací vždy číslo zvýšené o 1
ul
  li.task použijte postincrement na návratovou hodnotu funkce generátor

hint Postinkrementem se myslí #[strong value++]

solution
  :highlight-js
    var generatorFactory = function(initialNumber) {
      initialNumber = initialNumber || 0;

      return function generator() {
        return initialNumber++;
      }
    };

h3 2 - izolace jednotlivých souborů

h4 2.1 - izolujte pomocí IIFE
ul
  li.task obalte kód v souboru #[strong generator-base.js] pomocí #[strong IIFE]
  li.task generátor vystavte pod názvem #[strong baseGeneratorFactory]

hint #[strong IIFE] = #[strong (function(){ .... })()].
  br
  | Vystavením se myslí přiřazení pod daný název na #[strong window] - #[strong window.nazev = ...]

solution
 :highlight-js
    (function() {

      var generatorFactory = function(initialNumber) {

        initialNumber = initialNumber || 0;

        return function generator() {
          return initialNumber++;
        }

      };

      window.baseGeneratorFactory = generatorFactory;
    })();

h4 2.2 - přidejte do index.html druhý javascriptový soubor generator-step.js
solution
  :highlight-html
    <script src="generator-step.js"></script>

h3 3 - generátor s nastavitelným krokem
p.
  V tomto úkole budeme implementovat generátor s nastavitelným krokem, který bude možné použít způsobem níže

snippet
  :highlight-js
    var generator2 = stepGeneratorFactory(100);

    generator2.setStep(10);

    generator2.increase();  // 110
    generator2.increase();  // 120
    generator2.increase();  // 130

p Následující úkoly realizujte v souboru #[em generator-step.js]

h4 3.1 stepGeneratorFactory by měla vracet objekt s vlastnostmi setStep a increase
ul
  li Základní skelet souboru je připraven, zbývá oživit generátor
  li.task definujte tedy objekt jako návratovou hodnotu
  li.task definujte vlastnosti tohoto objektu #[strong setStep] a #[strong increase], jako hodnotu můžete zatím použít null

solution
  :highlight-js
    return {
      setStep: null,
      increase: null
    };

h4 3.2 setStep je funkce s jedním parametrem
ul
  li.task ve funkci #[strong stepGeneratorFactory] definujte funkci #[strong setStep], která nastavuje hodnotu proměnné #[strong step]
  li.task funkci vraťte jako hodnotu vlastnosti objektu vytvořeného v předchozím kroku

solution
  :highlight-js
      function setStep(newStep) {
        step = newStep;
      }

      return {
        setStep: setStep,
        increase: null
      };

h4 3.3 increase je funkce, vrací hodnotu zvýšenou o step
ul
  li.task ve funkci #[strong stepGeneratorFactory] definujte funkci #[strong increase], která zvýší hodnotu a vrátí ji
  li.task funkci vraťte jako hodnotu vlastnosti objektu vytvořeného v předchozím kroku

solution
  :highlight-js
    function increase() {
      value += step;
      return value;
    }

    return {
      setStep: setStep,
      increase: increase
    };
